@use "variables" as *;

* {
  box-sizing: border-box;
}


body {
  background: linear-gradient(180deg, $main-bg, $main-bg-end);
  margin: 0;
  height: 150vh;
  color: $text-color-main;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  width: 1440px;
  padding: 0 40px;
  margin: 0 auto;

  &-aside {
    margin-top: 78px;
    width: 260px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), transparent);
    padding: $standard-spacing;
    border-radius: $radius;
    min-height: 520px;
  }

  &-main {
    width: calc(100% - 260px - $standard-spacing);
    margin-left: $standard-spacing;
    padding: $standard-spacing;
  }

  &-inner{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
  }


}


