@use "sass:color";
@use "../variables" as *;


.quick-action-button {
  padding: 10px 12px;
  border-radius: $radius;
  border: none;
  background: linear-gradient(135deg, $accent-color-1, $accent-color-5);
  color: $text-color-main;
  cursor: pointer;
  //transition: all 0.2s ease;

  &-text {
    display: flex;
    font-size: $font-size-small;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    background: linear-gradient($accent-color-1, $accent-color-5);
    color: $text-color-main;
  }

  &:active {
    background: linear-gradient($accent-color-1, $accent-color-5);
    color: $accent-color-2;
  }

}