@use "../variables" as *;


.main-mid-collectionTableAdvanced{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: $standard-gap;
  margin-bottom: $standard-gap;
}
.main-mid-collectionTableBasic{
  display: flex;
  justify-content: center;
  width: 100%;
}
.main-mid-collectionAlbum{
  display: flex;
  justify-content: center;
  width: 100%;
}

.collection_page_main{
  width: 100%;

}