@use "../variables" as *;

.user_main {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: nowrap;
  justify-content: space-between;

  &-left{
    flex: 2;
    min-width: 300px;
    border: 1px solid red;

  }
  &-right{
    flex: 1;
    min-width: 250px;
    border: 1px solid blue;
  }
}
